@import url('https://fonts.googleapis.com/css?family=Montserrat');
:root{
  --header-bg:#001C32;
  --font-family:'Montserrat', sans-serif;
}
body{
  font-family:var(--font-family);
  margin:0;
  padding:0;
  background: #eee;
}

#showcase{
  background: var(--header-bg);
  color:#fff;
}
.intro{
  position: relative;
  top:50%;
  padding:40px;
}
.intro a{
  text-decoration: none;
  color:#fff;
}
.intro h3{
  position: relative;
  padding-top:30px;
  padding-bottom: 10px;
}
.intro nav #toggle{
  float: right;
  transform: translateY(-50px);
}
.intro nav ul#nav-desktop{
  position: relative;
  display: flex;
  list-style: none;
  padding-bottom: 10px;
}
.intro #nav-desktop  li{
  width:10%;
  padding:8px;
  transition: 1s;
}
#nav-mobile{
  display: none;
}


main{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

#profile{
  background: #fff;
  margin:10px;
  height: 480px;
}
#profile img{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-left:16px;
}

#profile .options{
  list-style: none;
}

.options li{
  margin-bottom: 10px;
  padding:10px;
  transition: 1s;
}
.options li:hover{
  background:var(--header-bg);
}
.options li:hover a{
  color:#fff;
}
.options a{
  text-decoration: none;
  color:#000;
}
#posts{
  background: #fff;
  margin:10px;
}
.collection{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding:18px;
  border-bottom: 1px solid #ddd;
}
.collection li:nth-child(1){
  width: 30%;
}
.status{
  color:green;
}
.titles{
  background: #ddd;
  padding:10px;
}


.actions{
  display: flex;
  justify-content: space-around;

  transform:translateX(20px);
}

.actions a{
  text-decoration: none;
  color:white;
  background: var(--header-bg);
  padding:10px 20px;
  border: none;
  margin-right:8px;
  transition: 1s;

}
.actions a:hover{
  color:var(--header-bg);
  background: #bbb;
}
.btn{
  text-decoration: none;
  color:white;
  background: var(--header-bg);
  padding:10px 20px;
  border: none;
  margin-right:8px;
  font-family: var(--font-family);
  transition: 1s;
}
.btn:hover{
  color:var(--header-bg);
  background: #bbb;
}
.post-form{
  padding:20px;
  margin:10px;
}

.post-form input[type=text], .post-form label .post-form textarea{
  display: block;
  width: 60%;
  padding:10px;
  font-family: var(--font-family);
}
.post-form label{
  padding-bottom:16px;
}
.post-form input[type=text], .post-form textarea{
  border:1px solid var(--header-bg);
  border-radius: 8px;
}
#toggle{
  visibility: hidden;
}
.list-mobile{
  display: none;
}

.post-item{
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: #fff;
  padding:20px;
  margin-bottom: 7px;
}
.post-action{
  display: block;
  margin-bottom: 8px;
}
.post-action .btn-small{
  padding:5px 20px;

  background: var(--header-bg);
  text-decoration: none;
  color:#fff;
  position: relative;
}
@media(max-width:750px){
 nav  #nav-desktop{
    display: none;
    visibility: hidden;
  }
  .list-desktop{
    display: none;

  }
  .list-mobile{
    display: block;
  }
  .intro #nav-mobile li{
    padding:20px;
    transition: 1s;
  }
  .intro #nav-mobile li:hover{
    transform:scale(1.3);
    background: var(--header-bg);
  }
  .intro #nav-mobile li:hover a{
    color:#fff;
  }
  #toggle{
    visibility: visible;
    position: relative;
    transform: translateY(-200px);
  }

  #nav-mobile{
    display: block;
    list-style: none;
    transform: translateY(-80px);
  }
  main{
    display: block;
    margin-bottom: 30px;
  }
  .post-form{
    margin:0 auto;
  }
  .post-form label,.post-form textarea,.post-form input[type=text]{
    display: block;
    position: relative;width: 90%;
  }
}
